:root {
  --primary-color: #ffffff;
  --primary-color-20: #ffffff33;
  --primary-color-30: #ffffff4c;
  --primary-color-69: #ffffffb0;

  --secondary-color: #3e732c;
  --secondary-color-20: #3e732c33;
  --secondary-color-30: #3e732c4c;
  --secondary-color-69: #3e732cb0;

  --accent-color: #d5ffc1;
  --accent-color-20: #d5ffc133;
  --accent-color-30: #d5ffc14c;
  --accent-color-69: #d5ffc1b0;
}
