package navlink

templ NavLink(title, imageUrl, path string) {
	<a
		title={ title }
		class={ "cursor-pointer" }
		hx-get={ path + "?no_reload=true" }
		hx-target="#main-contents"
		onClick={ updateHref(path) }
	>
		if imageUrl != "" {
			<img src={ imageUrl } alt={ title }/>
		} else {
			{ title }
		}
	</a>
}

script updateHref(path string) {
    window.history.pushState({}, "", path)
}
