package icons

templ Options() {
	<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="10.5" cy="2.5" r="2.5" fill="var(--secondary-color)"></circle>
		<circle cx="10.5" cy="10.5" r="2.5" fill="var(--secondary-color)"></circle>
		<circle cx="10.5" cy="18.5" r="2.5" fill="var(--secondary-color)"></circle>
	</svg>
}
