@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/myriad-pro/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/static/fonts/myriad-pro/MYRIADPRO-COND.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/static/fonts/myriad-pro/MYRIADPRO-CONDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/static/fonts/myriad-pro/MyriadPro-Light.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: 600;
  font-weight: normal;
  font-display: swap;
  src: url("/static/fonts/myriad-pro/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local("Myriad Pro Semibold Italic"),
    url("/static/fonts/myriad-pro/MYRIADPRO-SEMIBOLDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/myriad-pro/MYRIADPRO-BOLD.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/myriad-pro/MYRIADPRO-BOLDIT.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/myriad-pro/MYRIADPRO-BOLDCONDIT.woff") format("woff");
}
