package search

templ SearchSuggestion(suggestion, originalQuery string) {
	<div>
		if len(suggestion) <= len(originalQuery) {
			<span><b>{ suggestion }</b></span>
		} else {
			<span><b>{ originalQuery }</b>{ suggestion[len(originalQuery):] }</span>
		}
	</div>
}
