:root {
  --primary-color: #000;
  --secondary-color: #000;
  --accent-color: #000;
}

body {
  background-image: url("/static/images/dankground-dark.svg"),
    linear-gradient(to right, var(--accent-color), var(--secondary-color));
}
