@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/ubuntu/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/static/fonts/ubuntu/Ubuntu-LightItalic.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/static/fonts/ubuntu/Ubuntu-Italic.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/ubuntu/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/static/fonts/ubuntu/Ubuntu-MediumItalic.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/static/fonts/ubuntu/Ubuntu-BoldItalic.ttf");
}
