package pages

import "dankmuzikk/views/layouts"

templ Index(isMobile bool, themeName string) {
	@layouts.Default(isMobile, themeName, main())
}

templ main() {
	<main class="w-full">
		yooo hooo
	</main>
}
