package pages

import "dankmuzikk/views/layouts"

templ Privacy(isMobile bool) {
	@layouts.Default(isMobile, privacy())
}

templ privacy() {
	<main class={ "w-full", "h-full" }>
		<pre>
			Privacy:
		</pre>
	</main>
}
