package pages

import "dankmuzikk/views/layouts"

templ Profile(isMobile bool) {
	@layouts.Default(isMobile, profile())
}

templ profile() {
	<main class={ "w-full", "h-full" }>
		<pre>
			Profile:
		</pre>
	</main>
}
