package pages

import "dankmuzikk/views/layouts"

templ Profile(isMobile bool, themeName string) {
	@layouts.Default(isMobile, themeName, profile())
}

templ profile() {
	<main class={ "w-full", "h-full" }>
		<pre>
			Profile:
		</pre>
		<a href="/api/logout">
			<button
				type="submit"
				class={ "bg-[#DE3333]", "text-white", "rounded-[50px]", "p-[10px]", "px-[60px]", "w-full" }
			>
				Logout
			</button>
		</a>
	</main>
}
