package pages

import "dankmuzikk/components/layouts"
import "dankmuzikk/components/ui/search"

templ Index() {
	@layouts.Default(main())
}

templ main() {
	<main class="w-full h-screen">
		@search.Search()
	</main>
}
