package pages

import "dankmuzikk/components/layouts"

templ Index() {
	@layouts.Default(main())
}

templ main() {
	<main class="w-full h-screen">
		<form
			class="form-control"
			hx-get="/api/search-suggession"
			hx-swap="innerHTML"
			hx-target="#search-results"
			hx-trigger="keyup"
		>
			<input class="input input-bordered" type="search" name="query"/>
		</form>
		<div id="search-results"></div>
	</main>
}
