package pages

import "dankmuzikk/components/layouts"

templ Playlists(isMobile bool) {
	@layouts.Default(isMobile, playlists())
}

templ playlists() {
	<main class={ "w-full", "h-full" }>
		<pre>
			Playlists:
		</pre>
	</main>
}
