package loading

templ Loading() {
	<div
		id="loading"
		class={
			"absolute", "top-0", "left-0", "z-[200]", "w-screen", "h-screen",
			"bg-black-trans-200", " flex", "justify-center", "items-center",
		}
	>
		<div class={ "loader", "!h-32", "!w-32" }></div>
	</div>
}
