package emails

templ OtpEmail(name, code string) {
	<html lang="en">
		<body>
			<div
				style="
                    font-family: Helvetica, Arial, sans-serif;
                    min-width: 1000px;
                    overflow: auto;
                    line-height: 2;
                    "
			>
				<div style="margin: 50px auto; width: 70%; padding: 20px 0">
					<div style="border-bottom: 1px solid #eee">
						<a
							href="https://dankmuzikk.com"
							style="
                               font-size: 1.4em;
                               color: #00466a;
                               text-decoration: none;
                               font-weight: 600;
                             "
						>DankMuzikk</a>
					</div>
					<p style="font-size: 1.1em">Hi { name },</p>
					<p>
						Thank you for using DankMuzikk, below lies your one-time-password, which
						will be valid for the next <b>30 minutes</b>, don't share this code
						with anyone in order to keep your account safe 😁
					</p>
					<h2
						style="
                           background: #00466a;
                           margin: 0 auto;
                           width: max-content;
                           padding: 0 10px;
                           color: #fff;
                           border-radius: 4px;
                         "
					>
						{ code }
					</h2>
					<p style="font-size: 0.9em">Regards,<br/>DankMuzikk Admin</p>
					<hr style="border: none; border-top: 1px solid #eee"/>
					<div
						style="
                           float: right;
                           padding: 8px 0;
                           color: #aaa;
                           font-size: 0.8em;
                           line-height: 1;
                           font-weight: 300;
                         "
					>
						<p>DankMuzikk</p>
						<p>
							<a href="mailto:pub@mbaraa.com">pub@mbaraa.com</a>
						</p>
					</div>
				</div>
			</div>
		</body>
	</html>
}
