package icons

import "dankmuzikk/views/components/ui"

templ IconsLoader() {
	@addToPlaytlistIconLoader()
	@addToQueueIconLoader()
	@ui.CheckedCheckboxIconLoader()
	@downloadIconLoader()
	@downvoteEmptyIconLoader()
	@optionsIconLoader()
	@playlistIconLoader()
	@playPlaylistIconLoader()
	@shareLinkIconLoader()
	@trashIconLoader()
	@upvoteEmptyIconLoader()
}
