package info

templ Intro() {
	<div class={ "p-[20px]", "bg-accent-trans-69", "max-w-[420px]", "rounded-xl" }>
		<p class={ "text-secondary", "text-[20px]", "font-thin" }>
			Create, share, vote and play music playlists
			with DankMuzikk.
		</p>
	</div>
}
